<br>
<br>
<br>
<br>

<!--
<a  href="/"><%= image_tag("airplane.jpg", width: '100%', height: '90%')%></a> -->
<div class="bg-white-only">
  <div class="container">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag("airbnb4.jpg", width: '45%', class: "animated fadeInDown")%> </a>
          <%= image_tag("airbnb1.jpg", width: '45%', class: "animated fadeInDown")%> </a>
        </div>
        <div class="col-md-8 text-center">
          <div class="m-t-xxl m-b-xxl padder-v">
            <h1 class="font-bold l-h-1x m-t-xxl text-black padder-v animated fadeInDown">
              Welcome to the world of trips.
            </h1>
            <h3 class="text-muted m-t-xl l-h-1x">We want every trip you take to feel magical, so you can embrace the unexpected.</h3>
          </div>
          <p class="text-center m-b-xxl wrapper">
            <%= button_to 'Get Started', '/signup', method: :get, class: "btn b-2x btn-lg b-white btn-danger btn-rounded text-lg font-bold m-b-xxl animated fadeInUp", form: {style: 'display:inline-block;'} %>
          </p>
        </div>
        <div class="col-md-2">
        <%= image_tag("airbnb2.jpg", width: '45%', class: "animated fadeInDown")%> </a>
        <%= image_tag("airbnb3.jpg", width: '45%', class: "animated fadeInDown")%> </a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>



<div class="bg-light dk">
    <div class="container">
      <div class="row m-t-xl m-b-xl">
        <div class="col-sm-3">
          <h4 class="text-u-c m-b font-thin"><span class="b-b b-dark font-bold">About </span>This Project</h4>
          <ul class="list-unstyled">
            <li>This is Project Vagabond created on week 10 of General Assembly's WDI program using Ruby on Rails.</li>
          </ul>
        </div>

        <div class="col-sm-3">
          <h4 class="text-u-c m-b font-thin"><span class="b-b b-dark font-bold">Meet </span>Us</h4>
          <ul class="list-unstyled">
            <li><a href="http://vladyslavkuliani.github.io" target="_blank">Vladyslav Kuliani</a></li>
            <li><a href="http://myungok-star.github.io" target="_blank">Star Kim</a></li>
            <li><a href="http://sophieluo.github.io" target="_blank">Sophie Luo</a></li>
          </ul>
        </div>

        <div class="col-sm-3">
          <h4 class="text-u-c m-b-xl font-thin"><span class="b-b b-dark font-bold">Follow</span> Us</h4>
          <div class="m-b-xl">
            <a href="https://github.com/myungok-star/vagabond-team1" target="_blank" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-github"></i></a>
            <a href="https://evening-ocean-68406.herokuapp.com/" target="_blank" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-heroku"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
