
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= render partial: 'users/partials/user_info', locals: {user: @user} %>

<%=button_to "Go Back to Profile", user_path, method: :get, class: "btn btn-info pull-right form: {style: 'display:inline-block;'}"%>
<%=button_to "Explore Cities", city_path(City.first), method: :get, class: "btn btn-info"%>

<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-8">
      <div class="blog-post">
        <div class="panel">
        <div class="wrapper-lg">
          <h2 class="m-t-none"><%= @post.title %></h2>
          <div>
            <p><%= @post.content %></p>
          </div>
          <div class="line line-lg b-b b-light"></div>
          <div class="text-muted">
            <i class="fa fa-user text-muted"></i> by <%= @user.name %>
            <i class="fa fa-clock-o text-muted"></i>  <%= @user.created_at %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
