

<div class="row">
  <div class="col-md-4">
<img src="<%= @user.image %>">
<p>Name: <%= @user.name %></p>
<p>Date joined: <%=@user.created_at%></p>
<p>Current city: <%=@user.current_city%></p>
<%=button_to "Edit Profile", edit_user_path, method: :get%>
</div>

<div class="col-md-8">
  <% @posts.each do |post| %>
<div class="row">
  <h2><%= post.title %></h2>
  <p><%= post.content.split(" ")[0..50].join(" ") + "..."%><%=link_to "Read more"%></p>
</div>
  <% end %>

</div>
</div>
