<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <p> <%= @city.name %></p>
      <%=button_to "Add New Post", new_post_path, method: :get%>


      <select name="select" onChange="window.location.href = '/cities/' + this.options[this.selectedIndex].value">
        <% @cities.each do |city| %>
          <%if city.id == request.original_url.split("/")[-1].to_i%>
            <option value="<%=city.id%>" selected><%=city.name%></option>
          <%else%>
            <option value="<%=city.id%>"><%=city.name%></option>
          <%end%>
        <% end %>
      </select>

    </div>

  </div>

  </div>
</nav>

<img src="<%= @city.image %>" style="width:200px; height:200px">

<div class="col-md-8 col-md-offset-2">
  <% @posts.each do |post| %>
<div class="row">
  <h2><%= link_to post.title, post_path(user_id: post.user_id, id: post.id) %></h2>
  <p><%= post.content.split(" ")[0..50].join(" ") + "..."%><%=link_to "Read more"%></p>

  <div class="">
    <%post.comments.each do |comment|%>
    <div class="row">
      <img src="<%=comment.user_profile_image%>" style='width:50px; height:50px; float: left'>
      <p><%=comment.content%></p>
    </div>
    <br>
    <%end%>
  </div>

  <div class="">
    <img src="<%=current_user.image%>" style='width:50px; height:50px; float: left'>
    <%= form_for :comment, url: post_comment_path(post) do |f| %>
      <%=f.text_field :content, :placeholder => "Leave your comment"%>
      <%=f.submit "Comment", class: "btn btn-primary"%>
    <%end%>
  </div>
</div>
  <% end %>
</div>
